 <nav>
    <div class="logo"> login page</div>
        <div class="menu">
            <a href="/home">Home</a>
            <a href="/register">Registration</a>
            <a href="/">Login</a>
            <a href="/profile">Profile</a>
            <a href="#">Logout</a>
        </div>
    </nav>
